@import "https://fonts.googleapis.com/css2?family=Roboto";
/* Default Light by Chris Kempson (http://chriskempson.com) */
html, body {
  font-family: "Roboto";
  background-color: #f8f8f8;
  color: #585858;
}

a {
  text-decoration: none;
  color: #585858;
}

h2 {
  color: #7cafc2;
}

body {
  margin-top: 5%;
}

.page {
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.category .rows {
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: 30px auto;
}
.category .rows .separator {
  border-top: 1px solid #d8d8d8;
  margin-top: 8px;
  margin-bottom: 8px;
  grid-column: 1/span 2;
  max-width: 150px;
}

.navigation {
  position: fixed;
  bottom: 0;
  padding: 8px;
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
