<html>
  <head> </head>
  <body>
    <div class="page">
      <h1>{{ startpage.name }}</h1>
      {% for column in startpage.columns %}
      <div class="column">
        {% for category in column.categories %}
        <div class="category">
          <h2>{{ category.name }}</h2>
          {% for row in category.rows %} {% if row == "Separator" %}
          <hr />
          {% else %}
          <div class="link">
            {{ row.Link.ico }} {{ row.Link.lbl }} {{ row.Link.url | safe }}
          </div>
          {% endif %} {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
